<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681);">
  <div class="container">
    <h1><%= @cocktail.name.capitalize %></h1>
    <p><%= link_to 'â† Back', cocktails_path %></p>
  </div>
</div>
<div class="container cocktail-details">
  <h2>Ingredients</h2>
  <% @cocktail.doses.each do |dose| %>
    <ul>
      <li><%= dose.ingredient.name %> | <%= dose.description %> <%= link_to 'ðŸ—‘', dose_path(dose), method: :delete, data: { confirm: "REALLY !?!" }%></li>
    </ul>
  <% end %>
  <p class="new-dose"><%= link_to "+", new_cocktail_dose_path(@cocktail) %></p>
</div>
